*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(77, 76, 76);
}

.container{
    display: grid;
    justify-content: center;
    padding: 30px; 
    border: solid 2px black;
    border-radius: 30px;
    width: 500px;
    margin: auto;
    margin-top: 15%;
    background-color: rgb(237, 240, 243);
}

.titulo1{
    margin-bottom: 15px;
}

h1{
    text-align: center;
    font-weight: 200;
}

input{
    margin:0 0 20px 0;
    
}

