*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
}

.container{
    display: grid;
    justify-content: center;
    padding: 30px; 
    border: solid 2px black;
    border-radius: 30px;
    width: 500px;
    margin: auto;
    margin-top: 10%;
    background: rgb(204,203,214);
    background: linear-gradient(90deg, rgba(204,203,214,1) 0%, rgb(174, 11, 214) 0%, rgba(255,0,164,1) 100%);
}

.titulo1{
    margin-bottom: 15px;
}

h1{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff
}

input{
    margin:0 0 10px 0;
    width: 200px;
    height: 26px;
    border-radius: 10px;
    border: #fff;
    
}

label{
    font-size: 18px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    width: 150px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px rgb(182, 179, 179);
}

button:hover {background-color: rgb(204, 204, 204)}

button:active {
    background-color: rgb(204, 204, 204);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


